body {
    font-size: 3vh !important;
    font-family: 'Montserrat', sans-serif !important;
}

p {
    margin-bottom: 0 !important;
}

.backg {
    background: linear-gradient(45deg, rgb(91, 248, 0), rgb(0, 108, 248));
    padding: 5%;
}